<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067346595846-dq8tmk746ukq02pr0681ralegmvc6j26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067346595846-dq8tmk746ukq02pr0681ralegmvc6j26</string>
	<key>API_KEY</key>
	<string>AIzaSyB8an2f1oFqTL1__VN3egr71Eka4xULb_A</string>
	<key>GCM_SENDER_ID</key>
	<string>1067346595846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiocrestinsoftware.macosApp</string>
	<key>PROJECT_ID</key>
	<string>radio-crestin-aea7e</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-crestin-aea7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067346595846:ios:8673f5b250c4020e3e7387</string>
</dict>
</plist>